

:root {
	/*--brand-color: #7c69a4;*/
	--bg-sidebar: #000000;
	--player-gray: #383735;
    --bg-color-:rgb(220, 213, 213);
}

/*Reset*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--bg-color-);
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/*layout*/

.container-fluid {
    
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.container.fluid > *{

    max-width: 1440px;
    
}

.container.header {
    flex-grow: 1;
    display: flex;
}

.page__sidebar {
    width: 225px;
}

.page__content {
    flex-grow: 1;
}


.container.footer {

    min-height:90px;
}

/* debug */

.debug.container-fluid {

    border: 1px solid;
}

.debug .container {
    border: 2px solid violet;
}

.debug .container > * {
    border: 1px solid gray;
}

/* responsive layout */

/* md */

@media (max-width: 878px) {

    .container.footer {

        background-color: aqua;
        
    }
}

/* s */

@media (max-width: 639px) {

    .container.footer {

        background-color: rgb(42, 213, 51);
        
    }
}

/* xs */ 

@media (max-width: 552px) {

    .container.footer {

        background-color: rgb(213, 42, 65);
        
    }
}
