

:root {
	/*--brand-color: #7c69a4;*/
	--bg-sidebar: #000000;
	--player-gray: #383735;
}

/*Reset*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--light-gray);
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

/*layout*/

.container-fluid {
    
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.container.fluid > *{

    max-width: 1440px;
}