
/* css variables */   

:root {
    --brand-color: #adff2f;
	--deep-blue: #141922;
	--bg-sidebar: #000000;
	--player-gray: #383735;
    --bg-color:rgb(220, 213, 213);
	--sidebar-space-x: 22px;   
	/* using a css variable to change easly everywhere the padding x on the left part of sidebar */
}

/*Reset*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	background-color: transparent;
	border: none;
	color: currentColor;
	/* font-size: inherit; */
}

body {
	background-color: var(--deep-blue);
    color:white;
    
}

/* Component*/

.page-flex {
    
    height: 100vh;
    /*height relative to viewport height*/

    display: flex;
    flex-direction: column;

}

.page-body {
    flex-grow: 1;
    display: flex;
}

.page__content {
    flex-grow: 1;
}


/*PLAYER*/

.page__player {
    padding: 10px 0; 
    /*vertival padding to get space*/  

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--player-gray);
}

/* the width is proportional of container width */
.page__player .player__bar {
    width: 45%;
}

.player__controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.player__controls .controls__icon {
	font-size: 24px;
}

.player__controls .controls__icon.icon__play {
	font-size: 32px;
	margin: 0 12px;
}

.player__progress {
	display: flex;
	gap: 20px;
	font-size: 12px;
	align-items: center;
	padding: 14px 0;
}

.slider {
	height: 4px;
	width: 120px;
	flex-grow: 1;
	background-color: rgba(255, 255, 255, 0.5);
}

/*player track */

.page__player .track {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 230px;
	padding: 0 10px;
}

.track__album-image {
	width: 42px;
	height: 42px;
	flex-shrink: 0;
}

.track__album-image img {
	display: block;
	width: 100%;    
    /* get all width and height of cantainer space*/
	height: 100%;

    /* fit the image in order do fill thr container*/
	object-fit: cover;
	object-position: center;
}

.track__info {
	flex-grow: 1;
}

/* controls */

.page__player .controls {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0 10px;  /*padding orizontal*/ 
}

/* Sidebar */
.page__sidebar {
    width: 230px;
    flex-shrink: 0;
    /* The flex-shrink property specifies how the item will shrink relative to the rest of the flexible items inside the same container. */
	display: flex;
	flex-direction: column;
    background-color: #000000;
}

.link__profile {
	margin-top: auto;
}

.page__sidebar .logo{
	padding: 20px var(--sidebar-space-x);
}

.logo-lg {
	width: 132px; /*setting the logo width*/
}

.logo-xs {
	width: 100%; 
	/*setting the logo small width relative of width anchor (father container) using % units */
}

.logo-lg {
	display: block;
}

.logo-xs {
	display: none;
}

/*menù sidebar*/

.link__item .item-icon {
	width: 24px;
}

.link__item a {
	display: flex;
	padding: 8px var(--sidebar-space-x);
	align-items: center;
	gap: 8px;
}

.link__item {
	position: relative;
}

.link__item.active::before,  /*  pseudo element , before */
.link__item:hover::before {
	position: absolute;
	content: '';
	display: block;
	height: 100%;
	width: 3px;
	top: 0;
	left: 0;
	background-color: var(--brand-color);
}

/* new playlist */
.new-playlist {
	padding: 16px 0;
}

.new-playlist__title,
.new-playlist__button {
	padding-left: var(--sidebar-space-x);
	padding-right: var(--sidebar-space-x);
}

.new-playlist__button {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 12px;
	cursor: pointer;
	width: 100%;
}

.new-playlist__button .button-icon {
	background-color: white;
	aspect-ratio: 1 / 1;
	width: 37px;
	color: black;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playlist-item a {
	display: block;
	padding: 8px var(--sidebar-space-x);
}

.user-details {
	padding: 0px var(--sidebar-space-x);
}

.user-details .app-download,
.user-details .user-profile {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 12px 0;
	width: 100%;
}

.app-download img {
	width: 16px;
}

.user-profile {
	border-top: 1px solid;
}

.user-profile .user-thumbnail {
	width: 25px;
	aspect-ratio: 1/1;
	background-color: #adadad;
	border-radius: 50%;
	overflow: hidden;  /* hide the  inside image off the father container */
}

.user-profile .user-thumbnail img {
	display: block;
	width: 100%;
}



/* class debug for visual container*/

.debug.page-flex {

    border: 2px solid rgb(227, 31, 17);
    padding: 20px;
}

.debug .page-body,
.debug .page__player {
    border: 2px solid rgb(21, 0, 255);
    padding: 20px;
}

.debug .page-body > * {
    border: 1px solid rgb(236, 174, 18);
    padding: 20px;
}

.debug.page__player > * {
    border: 2px solid rgb(241, 16, 196);
}


.debug .page__sidebar {
	border: 2px solid rgb(227, 31, 17);
    padding: 10px 0;
}


.debug .page__sidebar > *{

	border: 2px solid rgb(21, 0, 255);
	padding-left: 20px;
}

/* Responsive Layout Media Query*/

/* md */

@media (max-width: 878px) {

    .player__bar  {

        background-color: aqua;
        
    }
}

/* s */

@media (max-width: 639px) {

    .player__bar {

        background-color: rgb(42, 213, 51);
        
    }
}

/* xs */ 

@media (max-width: 552px) {

    .player__bar {

        background-color: rgb(213, 42, 65);
        
    }


    .page__sidebar {
        width: 50px; 
		--sidebar-space-x: 11px;
	    
		
    }

	.page__sidebar .logo {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.logo-lg {
		display: none;
	}

	.logo-xs {
		display: block;

		/*  menu link item */
   }

	.link__item a {
		justify-content: center;
		}
	
	.link__item .item-text {
		display: none;
		}
	
	.link__item.active::before,
	.link__item:hover::before {
		display: none;
		}
	
	
}
